*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove margins and paddings */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

body,
input,
textarea,
button {
  line-height: 1.5;
}

:focus {
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #00adf6;
  color: white;
  font-weight: 600;
}

header img {
  margin: 0 16px;
}