/* LEAFLET */
.map-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 15rem;
  height: 400px;
}

.map-border {
  height: 100%;
}

#map {
  height: 100%;
}

@media screen and (max-width: 650px) {
  .map-wrapper {
    margin-top: 20rem;
  }
}

@media screen and (max-width: 350px) {
  .map-wrapper {
    max-width: 450px;
    margin-top: 25rem;
  }
}
