<div class="main">
  <div *ngIf="error">
    <p>Error: {{ error }}</p>
  </div>

  <!-- Liste Parcs -->
  <div class="parcs-container" *ngIf="parcs">
    <ul class="list parcs-list">
      <li
        *ngFor="let parc of parcs; let i = index"
        (click)="onSelectedPark(parc)"
        class="item parc-item"
      >
        <span class="parc-title">{{ parc.nom }}</span>
      </li>
    </ul>
  </div>
</div>

<!-- Liste Piscines -->
<div class="parcs-container" *ngIf="piscines">
  <ul class="list piscines-list">
    <li *ngFor="let piscine of piscines" class="item piscine-item">
      <span class="parc-title">{{ piscine.nom }}</span>
    </li>
  </ul>
</div>
